/* ----------------------------HEADER--------------------------- */
body {
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
body .header {
  width: 100%;
}
body .header:before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(34, 40, 49, 0.002));
}

@media (min-width: 768px) {
  .bg-dark {
    background-color: transparent !important;
  }
}
.navbar a {
  color: rgb(252, 249, 249) !important;
  font-family: "Monserrat";
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}
.navbar a:hover {
  background-color: rgb(244, 76, 76);
  border-radius: 5px;
}

/* -------------------------------CARROUSEL---------------------- */
.carousel img {
  width: 100%;
  margin: auto;
  padding-left: 2rem;
}

/* ------------------------SOBRE MI ---------------------- */
.sobre_mi h1 {
  color: rgb(252, 249, 249);
}

.parrafo {
  color: aliceblue;
}

/* --------------------SERVICIOS------------------ */
/* -------------------------------FOOTER ------------------------*/

.first {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
}

    .first h4 {
        font-size: 20px;
        letter-spacing: 6px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: rgba(255, 255, 255, 0.97);
        padding-bottom: 0.5em;
    }

        .first h4::after {
            content: '';
            background: #11e823;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
        }

    .first p {
        font-size: 14px;
    }



.third {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}


    .third h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }


        .third h4::after {
            content: '';
            background: #11e823;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 80%;
        }



    .third li {
        list-style: none;
        padding-bottom: 15px;
    }


    .third a {
        color: rgb(206, 206, 206);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        transition: 0.2s;
    }


        .third a:hover {
            color: #fff;
            transition: 0.2s;
            text-shadow: 1px 1px 20px rgba(0,0,0,1);
        }


@media screen and (max-width:1000px) {
    .first {
        text-align: center;
    }

        .first h4::after {
            left: 40%;
        }
}

@media screen and (max-width:1000px) {
    .third {
        text-align: center;
    }

        .third h4::after {
            left: 40% !important;
        }
}
.site-footer {
  padding-top: 45px;
  font-size: 15px;
  line-height: 24px;
  color: #d9dbd9;
}





.site-footer .social-icons {
  text-align: right;
  margin-right: 3rem;
}



.copyright-text {
  margin: 0;
  /* margin-left: 4rem */;
  
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }

  .site-footer .copyright-text,
.site-footer .social-icons {
    text-align: center;
  }
}
.social-icons li {
  display: inline-block;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.margin {
    margin-left: 20px;
}

.line {
    height:2px;
    background-color:rgb(206,206,206);
    width:100%;
}



/* ------------------PORTFOLIO----------- */
.album, .album-especial {
  background-color: rgba(255, 63, 5, 0.149);
  color: rgb(252, 249, 249);
  border-color: white;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.album-especial {
  background-color: rgba(255, 63, 5, 0.149);
}

.servicios {
  background-color: rgba(220, 212, 212, 0.112);
  border-radius: 0.5rem;
}
.servicios h5 {
  color: beige;
  font-size: 1.5rem;
}
.servicios p {
  color: aliceblue;
}
.servicios:hover {
  background-color: rgba(149, 158, 98, 0.397);
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */